html {
  margin: 0;
  height: 100%;
  font-family: 'Playfair Display', serif;
  background: rgb(4,58,249); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(4,58,249,1) 0%, rgba(5,252,248,1) 50%, rgba(201,0,177,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(4,58,249,1) 0%,rgba(5,252,248,1) 50%,rgba(201,0,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(4,58,249,1) 0%,rgba(5,252,248,1) 50%,rgba(201,0,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043af9', endColorstr='#c900b1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  width: auto;
  height: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04ef89+0,05fcf8+50,c900b1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#14f204+0,05fcf8+50,c900b1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#043af9+0,05fcf8+50,c900b1+100 */
}

@media only screen and (max-width: 700px) {
  
}

@media only screen and (min-width: 700px) {
  body {
    padding: 3em;
  }
}


